body{
    background: yellowgreen;
    /* overflow: hidden; */
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    position: fixed;
    right: 0px; 
    top: calc(50% - 275px);
    height: 100%;
    display: flex;
}
.side_shape_back,.side_shape_front{
    position: absolute;
    right: -10px;    
    
}
.side_shape_back{
    width: 120px;
    height: 550px;
    fill:rgba(0, 171, 81, 1);
    transition: transform 1s cubic-bezier(0.68, -0.55, 0.265, 1.55), 
                width 1s 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transform-origin: center;
}
.side_shape_front{
    width: 0px;
    height: 480px;
    fill:#fff;
    transform: scaleY(1.25);
    transition: width 1s 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transform-origin: center;
}

nav:hover .side_shape_back{
    transform: scaleY(1.25);
    width: 350px;
}
nav:hover .side_shape_front{
    width: 250px;
    
}

.navbar{
    position: absolute;
    right: -100px;
    top: 25%; 
}

.navbar li{
    list-style: none;
    white-space: nowrap;
    margin: 12px 0;
    position: relative;
    cursor: pointer;
    text-align: right;
    transform: translateX(200%);
    opacity: 0;
    transition: all .5s;
}
.navbar li:nth-child(1){
    transition-delay: .65s;
}
.navbar li:nth-child(2){
    transition-delay: .75s;
}
.navbar li:nth-child(3){
    transition-delay: .85s;
}
.navbar li:nth-child(4){
    transition-delay: .95s;
}

nav:hover .navbar li{
    transform: translateX(-150px);
    opacity: 1;
}

.navbar li a{
    color: rgba(0, 0, 0, .7);
    font-size: 0.8rem;
    text-decoration: none;
    transition: transform .3s .2s, color .3s;
    display: inline-block;
}

.navbar li::after{
    content: "";
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    position: absolute;
    right: -20px;
    top: 50%;
    border: 1px solid rgba(0, 171, 81, 1); 
    transform: translateY(-50%);
    

}
.navbar li.active::after{
    background: rgba(0, 171, 81, 1);
}
.navbar li:hover a{
    font-size: 1rem;
    font-weight: 600;
    color: rgba(0, 171, 81, 1);
    transform: translateX(-10px);
}
.navbar li:hover::after{
    animation: shadow 1s linear infinite;
}
@keyframes shadow{
    0%{
        background: rgba(0, 171, 81, 1);
        
    }
    50%{
        background: none;
        box-shadow: 0 0 0 0 rgba(0, 171, 81, .3);
    }
    100%{  
        box-shadow: 0 0 0 20px rgba(0, 171, 81, .1) ;
    }
}


.circles{
    position: absolute;
    right: 10px;
    top: 25%; 
}

.circles li{
    width: 5px;
    height: 5px;
    border:2px solid #fff;
    border-radius: 50%;
    list-style: none;
    margin: 32px 0;
    transition: all 1s .5s;
}
.circles li.active{
    background: #fff;
}
nav:hover:hover .circles li{
    transform: translateX(80px);
}